<footer class="footer">

  <div class="container">

    <span class="footer_copyright">&copy;2015 Eric Buchmann</span>

    <div class="footer_social">
      <a class="footer_share" target="_blank" href="https://www.facebook.com/ebuchmann.art">{% include /icons/facebook.svg %}</a>
      <a class="footer_share" target="_blank" href="https://twitter.com/ebuchmann_">{% include /icons/twitter.svg %}</a>
      <a class="footer_share" target="_blank" href="https://www.pinterest.com/ebuchmann_/">{% include /icons/pinterest.svg %}</a>
    </div>

  </div>

</footer>

<script src="{{ site.baseurl }}/js/combined.min.js?cache={{ site.time | date: '%s' }}"></script>
