<li class="recent_item lazyload" data-expand="-110">
  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
    <img class="fruit-thumb lazyload" data-src="/images/{{ post.tag }}/thumb/{{ post.slug }}.jpg" />
    <div class="recent_bottom">
      <p class="recent_title">{{ post.title }}</p>
      <span class="recent_date">{{ post.date | date: "%b %-d, %Y" }}</span>
      {% if post.sold == 'yes' %}
        <span class="recent_button recent_button-sold">- sold -</span>
      {% else %}
        <a class="recent_button recent_button-available" href="{{ post.original }}" target="_blank">${{ post.price }}</a>
      {% endif %}
    </div>
  </a>
</li>
