---
layout: default
permalink: /:categories/:title
---
<div class="post">

  <div class="container">

    <section class="painting-left">
      <img src="/images/{{ page.tag }}/full/{{ page.slug }}.jpg" alt="{{ page.title }} - Oil Painting" />
    </section>

    <section class="painting-right">

      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>

      <div class="original">
        <div class="original_container">
          <h3 class="original_type">
            Original Painting
          </h3>
          <span class="original_detail">
            {{ page.size }} inches<br />
            {{ page.medium }}
          </span>
        </div>

        <hr class="original_line" />

        {% if page.sold == "yes" %}
          <span class="original_sold">- sold -</span>
        {% else %}
          <a class="original_button original_button-available ga-original" title="{{ page.title }}" href="{{ page.original }}" target="_blank">Only 1 available - Buy the original for ${{ page.price }}</a>
        {% endif %}

      </div>

      {% if page.print %}
        <p class="post-prints"><a class="ga-print" title="{{ page.title }}" href="{{ page.print }}" target="_blank">Prints of this artwork are available on Etsy.</a></p>
      {% endif %}

      <h4>Share this</h4>

      <a class="icon fb-share" data-href="{{ site.url }}{{ page.url }}" data-name="{{ page.title }}" href="#">{% include /icons/facebook.svg %}</a>
      <a class="icon" href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}">{% include /icons/twitter.svg %}</a>
      <a class="icon pin-it" data-href="{{ site.url }}{{ page.url }}" data-media="{{ site.url }}/images/{{ page.tag }}/full/{{ page.slug }}.jpg" data-description="{{ page.title }}" href="#">{% include /icons/pinterest.svg %}</a>

      <nav class="shift">
        {% if page.previous.url %}
          <div class="shift_previous">
            <span class="shift_previous-text">Previous</span>
            <div class="shift_previous-container">
              <a class="shift_previous-link" href="{{page.previous.url}}">{{page.previous.title}}</a>
            </div>
          </div>
        {% endif %}
        {% if page.next.url %}
          <div class="shift_next">
            <span class="shift_next-text">Next</span>
            <div class="shift_next-container">
              <a class="shift_next-link" href="{{page.next.url}}">{{page.next.title}}</a>
            </div>
          </div>
        {% endif %}
      </nav>

    </section>

  </div>

</div>
